<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">

        <mat-card>
            <div class="row" fxFlex="50">
                
            </div>

            <div flex="30">

                <mat-card-title class="text-center" class ="m-r-30">
                    Quickreach ECommerce
                </mat-card-title>
            </div>
            <mat-card-content>

                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex.gt-xs="50">

                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <!-- column -->
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="100">

        <mat-card>
            <div class="row" fxFlex="50">

            </div>

            <div fxFlex>

            </div>
            <div flex="80">
                <mat-card-header>
                    <div class="mat-card-title">
                        <mat-card-title>
                            <div fxLayout="row" fxLayoutWrap='wrap'>
                                <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                                    
                                </div>

                                <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                                    
                                </div>
                            </div>
                        </mat-card-title>
                    </div>

                </mat-card-header>


            </div>
            <mat-card-content>

                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                        
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="25">

        <mat-card>
            <div class="row" fxFlex="25">
                Image
            </div>

            <div fxFlex></div>
            <div flex="80">

                <mat-card-title>

                </mat-card-title>
            </div>
            <mat-card-content>

                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="25">

        <mat-card>
            <div class="row" fxFlex="25">
                Image
            </div>

            <div fxFlex></div>
            <div flex="80">

                <mat-card-title>

                </mat-card-title>
            </div>
            <mat-card-content>

                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="25">

        <mat-card>
            <div class="row" fxFlex="25">
                Image
            </div>

            <div fxFlex></div>
            <div flex="80">

                <mat-card-title>

                </mat-card-title>
            </div>
            <mat-card-content>

                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-md="50" fxFlex.gt-xs="50">
                        Starter Page
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

</div>